@{
    ViewData["Title"] = "Los creadores";
}
<h1> LOS CREADORES </h1>
<h1> GALO </h1>
<img src="~/imgs/1.png" alt="Gael">
<h1> ILU </h1>
<img src="~/imgs/3.png" alt="ILU">
<h1> KIARA </h1>
<img src="~/imgs/4.png" alt="KIARA">

