@{
    ViewData["Title"] = "Escape de Jumanji: El Bucle Maldito";
}
<section class="Sindex"> 
<div>
    <h1>Escapa de la peligrosa isla de jumanji atravezando los 4 retos mas dificiles.</h1>
    <p>Quisiste jugar… y ahora el juego te juega a vos.
Un rayo cayó sobre el tablero. Una luz blanca. Y después, oscuridad.

Cuando abrís los ojos, estás en medio de la jungla. Todo late. El suelo tiembla. Un susurro te llama por tu nombre. Es Jumanji.
Y no estás solo.

La isla te ha atrapado en un bucle eterno. Cada error te devuelve al principio. Cada intento será más difícil que el anterior. Solo los más persistentes, los más atentos, podrán romper el ciclo y gritar la palabra final que los devuelva al mundo real.

Vas a tener que superar los cinco desafíos supremos:

🔊 El Susurro 
👁️ La Ilusión 
🔺 El Código Fantasma 
🟢 La vista
🧠 La memoria

¿Estás listo para el verdadero desafío?</p>
</div>
<img src="~/imgs/backg.png" alt="Sala 3">

<a href='@Url.Action("sala1","Home")' alt="Boton de Prejugar">  <h1>JUGAR</h1>  </a>
<a href ='@Url.Action("tutorial", "Home")' alt="Ver Tutorial" > <h1>TUTORIAL</h1></a>
<a href = '@Url.Action("creadores", "Home")' alt="Ver Creadores"><h1>LOS CREADORES</h1></a>
</section>
