@{
    ViewData["Title"] = "SALA 2 - LA ILUSIÓN";
}

<h1>BIENVENIDOS A LA SALA DE LA ILUSIÓN</h1>
<h3>Mira con atención para descubrir la palabra oculta en la imagen, puede ser más compleja de lo visible</h3>

<img src="~/imgs/imgocul.jpg" alt="Sala 2">

<form action='@Url.Action("comparar", "Home")' method="post">
  CODIGO: <input type="text" name="codigo" required>
  <input type="submit" value="Entrar">
</form>
<a href='@Url.Action("pistas", "Home")'><img src="~/imgs/pergaminopistas.png" alt= "pista"></a>
