@{
    ViewData["Title"] = "SALA 5 - EL JUEGO DE LA MEMORIA";
}
<section class="S5"> 
<h1>BIENVENIDOS A LA SALA DE LA MEMORIA</h1>
<h2> "Atrévete, Ruge Valiente, Y Vence Aquel Reto, Atravesando Y Venciendo." </h2>
<h3> Ya casi terminas, en este último reto vas a necesitar de una buena y rápida memoria</h3>
<a href='@Url.Action("compararC", "Home",new{Letra = "Y"})'><img src="~/imgs/a.png" alt= "pista"></a>
<a href='@Url.Action("compararC", "Home",new{Letra = "R"})'><img src="~/imgs/r.png" alt= "pista"></a>
<a href='@Url.Action("compararC", "Home",new{Letra = "V"})'><img src="~/imgs/v.png" alt= "pista"></a>
<a href='@Url.Action("compararC", "Home",new{Letra = "A"})'><img src="~/imgs/az.png" alt= "pista"></a>
</section> 
