@{
    ViewData["Title"] = "SALA 4 - EL JUEGO DE LA MEMORIA";
}

<h1>BIENVENIDOS A LA SALA DEL JUEGO DE LA MEMORIA</h1>
<h3>Estaté muy concentrado, al principio va a ser más fácil y despúes no tanto, solo necesitas de tu memoria y paciencia</h3>
