@{
    ViewData["Title"] = "SALA 3 - EL CÓDIGO FANTASMA";
}

<h1>BIENVENIDOS A LA SALA DEL CÓDIGO FANTASMA</h1>

<h3>Presta mucha atención, tené memoria y sé rápido</h3>

<img src="~/imgs/abc.png" alt="Sala 3">

<h1>Adivina el codigo conviertete en un detective verdadero</h1>



<form action='@Url.Action("comparar", "Home")' method="post">
  CODIGO: <input type="text" name="codigo" required>
  <input type="submit" value="Entrar">
</form>
<a href='@Url.Action("pistas", "Home")'><img src="~/imgs/pergaminopistas.png" alt= "pista"></a>

