@{
    ViewData["Title"] = "SALA SIMON";
}
<section class="S5"> 
<h1> "Atrévete, Ruge Valiente, Y Vence Aquel Reto, Atravesando Y Venciendo." </h1>
<a href='@Url.Action("comparar", "Home" new{Letra = "Y"})'><img src="~/imgs/a.png" alt= "pista"></a>
<a href='@Url.Action("comparar", "Home" new{Letra = "R"})'><img src="~/imgs/r.png" alt= "pista"></a>
<a href='@Url.Action("comparar", "Home" new{Letra = "V"})'><img src="~/imgs/v.png" alt= "pista"></a>
<a href='@Url.Action("comparar", "Home" new{Letra = "A"})'><img src="~/imgs/az.png" alt= "pista"></a>
</section> 
