@{
    ViewData["Title"] = "SALA 4 - EL JUEGO DE LA VISTA";
}
<section class="S4"> 
<h1>BIENVENIDOS A LA SALA DEL JUEGO DE LA VISTA</h1>
<h3>Estaté muy concentrado, solo necesitas una buena vista y paciencia</h3>
<img src="~/imgs/dif.png" alt="Sala 4">
<img src="~/imgs/dif2.png" alt="Sala 4">

<a href='@Url.Action("pistas", "Home")'><img src="~/imgs/pergaminopistas.png" alt= "pista"></a>
</section> 
